<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Login</title>
</head>
<body>
    <h1>{{ app_name }}</h1>
    <form method="POST" action="/login?{{ querystring }}">
        <div>
            <label for="username">Username</label>
            <input type="text" name="username" />
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" />
        </div>
        <input type="submit">
        <a href="/signup?{{ querystring }}">Signup</a>
    </form>
</body>
</html>
